<section class="content-header">

</section>

<section class="content container-fulid">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>開催日</th>
          <th>イベント名</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.held_on %></td>
            <td>
              <%= link_to top_event_path(event) do %>
                <%= event.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</section>
