<section class="content-header">

</section>

<section class="content container-fulid">
  <p>
    <strong>開催日:</strong>
    <%= @event.held_on %>
  </p>
  
  <p>
    <strong>イベント名:</strong>
    <%= @event.name %>
  </p>
  
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</section>
