.ranking {
  .rank {
    width: 50px;
    text-align: center;
  }

  .number {
    width: 60px;
    text-align: right;
  }
}

.duplicated {
  background-color: yellow;
}

span.badge {
  width: 45px;
}

span.badge-short {
  width: 25px;
}

span.badge-win {
  background-color: #fa57bf;
}

span.badge-lose {
  background-color: #43f860;
}
